{{ "Commands:" | fg.HiGreen }}
    {{ "help" | fg.HiWhite}}                                - Display this help message
    {{ "save" | fg.HiWhite}}                                - Save the character
    {{ "finalize" | fg.HiWhite}}                            - Finalize the character
    {{ "discard" | fg.HiWhite}}                             - Discard the character
    {{ "restart" | fg.HiWhite}}                             - Restart the character
    {{ "exit" | fg.HiWhite}}                                - Exit the charcter builder

    {{ "set name <name>" | fg.HiWhite}}                     - Set the character's name

    {{ "set metatype <metatype>" | fg.HiWhite}}             - Set the metatype 
    {{ "list metatypes" | fg.HiWhite}}                      - List the metatypes
    {{ "show metatype <metatype>" | fg.HiWhite}}            - Show the metatype

    {{ "set magic <magic>" | fg.HiWhite}}                   - Set the magic type 
    {{ "list magic" | fg.HiWhite}}                          - List the magic types
    {{ "show magic <magic>" | fg.HiWhite}}                  - Show the magic type

    {{ "set attribute <attribute> <value>" | fg.HiWhite}}   - Set the attribute to the value
    {{ "list atrributes" | fg.HiWhite}}                     - List the attributes
    {{ "show attribute <attribute>" | fg.HiWhite}}          - Show the attribute

    {{ "set skill <skill> <value>" | fg.HiWhite}}           - Set the skill to the value
    {{ "list skills" | fg.HiWhite}}                         - List the skills
    {{ "show skill <skill>" | fg.HiWhite}}                  - Show the skill

    {{ "set quality <quality>" | fg.HiWhite}}               - Set the quality
    {{ "list qualities" | fg.HiWhite}}                      - List the qualities
    {{ "show quality <quality>" | fg.HiWhite}}              - Show the quality

    {{ "set nuyen <nuyen>" | fg.HiWhite}}                   - Set the nuyen

